.social-media {
    margin-top: 25px;
}
.social-media a {
    text-decoration: none;
    color: #bdc3c7;
    font-size: 24px;
    margin-right: 20px;
    transition: 0.3s;
    display: inline-block;
}
.social-media a:hover {
    color: var(--primary-color);
    filter: drop-shadow(0 5px 15px rgba(251,191,36,0.4));
    transform: translateY(-5px);
}